/* --------- 
   ALl stuff 
   --------- */
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ------------------------ 
   Registration Modal stuff 
   ------------------------ */
/* Modal register is the button in login page for open the modal */
#modalRegister {
    margin-top: 10px;
    height: 40px;
    font-size: 15px;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
    text-align: center;
}

#confirm {
    margin-top: -5px;
}

#status {
    max-width: min-content;
}


/* ----------- 
   Login Stuff 
   ----------- */
@media (min-width: 500px) {
    #login-form {
        width: 250px;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}

#title {
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 50px;
}

#username, #login-password {
    margin-bottom: 25px;
}

#submit {
    height: 40px;
    font-size: 15px;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
    text-align: center;
}


/* ----------- 
   Index Stuff 
   ----------- */
#index-phrase {
    font-size: 16px;
    padding-top: 30px;
}

#table-passwords {
    margin-top: 30px;
    text-align: center;
}


/* ------------ 
   Update Stuff 
   ------------ */
#inputs {
    font-size: 15px;
    width: -moz-available;          /* For Mozzila */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
}

@media (min-width: 500px) {
    #inputs {
        width: 500px;
        margin-right: auto !important;
        margin-left: auto !important;
        margin-bottom: 25px;
    }
}


/* ------------ 
   Profile Stuff 
   ------------ */
#table-user {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
