body {
  font-family: 'Montserrat', sans-serif !important;
}

#sections {
  color: blue;
}

#themeSelect {
  width: min-content;
  display: inline;
  margin-left: 10px;
}

.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Modal register is the button in login page for open the modal */
#modalRegister {
  margin-top: 10px;
  height: 40px;
  font-size: 15px;
  width: -moz-available; /* For Mozzila */
  width: -webkit-fill-available; /* For Chrome */
  width: stretch; /* Unprefixed */
  text-align: center;
}

#registration-username {
  margin-bottom: 40px;
}

#status {
  max-width: min-content;
}

@media (min-width: 500px) {
  #login-form {
    width: 250px;
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

#title {
  padding-top: 50px;
  padding-bottom: 60px;
  font-size: 50px;
}

#username,
#login-password {
  margin-bottom: 25px;
}

#submit {
  height: 40px;
  font-size: 15px;
  width: -moz-available; /* For Mozzila */
  width: -webkit-fill-available; /* For Chrome */
  width: stretch; /* Unprefixed */
  text-align: center;
}

#index-phrase {
  font-size: 16px;
  padding-top: 30px;
}

#table-passwords {
  margin-top: 30px;
  text-align: center;
}

#inputs {
  font-size: 15px;
  width: -moz-available; /* For Mozzila */
  width: -webkit-fill-available; /* For Chrome */
  width: stretch; /* Unprefixed */
}

@media (min-width: 500px) {
  #inputs {
    width: 500px;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-bottom: 25px;
  }
}

#table-user {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#account-password {
  width: min-content;
  margin-right: auto !important;
  margin-left: auto !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
