{% extends 'layout.html' %}

{% block title %}
    {% for username in informationCurrentUser %}
        Account: {{ username["username"] }} 
    {% endfor %}
{% endblock %}

{% block body %}
    <main class='container-fluid py-5'>
        <div class="container">
            <div class="hstack gap-3">
                {% for email in informationCurrentUser %}
                    <div><h1 style="font-size: 45px;">User: {{ email["email"] }}</h1></div>
                {% endfor %}
                <div class="ms-auto">
                    <a href="{{ url_for('views.updateAccount') }}" type="button" class="btn btn-warning btn-lg">
                        <span class="material-icons" style="line-height: unset;">
                            edit
                        </span>
                    </a>
                </div>
            </div>

            <p class="mb-3 fw-semibold lh-1" id="sections" style="margin-top: 20px;">Information Account</p>
            <hr>
            
            {% for data in informationCurrentUser %}
                <table class="table table-hover table-bordered border" id="table-user">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Password</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                            <tr>
                                <td>{{ data["email"] }}</td>
                                <td><input type="password" class="form-control" value="{{ decryptedPassword }}" id="account-password" disabled></td>
                                <td><button type="button" class="btn btn-secondary btn-lg" onclick="seePasswordAccount();">
                                        <span class="material-icons" style="line-height: unset;" id="span_text">
                                            visibility
                                        </span>
                                    </button>
                                </td>
                            </tr>
                    </tbody>
                </table>              
                
                <p class="mb-3 fw-semibold lh-1" id="sections">Action</p>
                <hr>      

                <div class="card" style="margin-top: 40px; margin-bottom: 40px;" id="card">
                    <div class="card-body">
                        <h5 class="card-title">Delete Account</h5>
                        <p class="card-text">By deleting the account you will lose any saved password and it will not be possible to recover it.</p>
                        <button type="button" class="btn btn-danger" id="deleteUser" value="{{ data['id'] }}" onclick="deleteAccount(this.value);">Delete Account</button>
                    </div>
                </div>

                <p class="mb-3 fw-semibold lh-1" id="sections">Settings</p>
                <hr>      
                
                <div>
                    <label style="margin-bottom: 10px;" class="form-label">Choose a Theme</label>
                    <select id="themeSelect" class="form-select">
                        <option value="light">light</option>
                        <option value="dark">dark</option>
                    </select>
                </div>
                <br/>
                <div>
                    <div class="form-check form-check-inline" id="formCheckLog">
                        <input class="form-check-input" type="checkbox" value="True" id="checkBoxEmail" onclick="storeEmailUser();">
                        <label class="form-check-label" for="checkBoxEmail" style="margin-left: 2px;"> 
                            Store email
                        </label>
                    </div>
                    <a data-bs-toggle="collapse" href="#collapseCheckbox" role="button" aria-expanded="false" aria-controls="collapseCheckbox">
                        <span class="material-symbols-outlined" id="spanHelp">
                            help
                        </span>
                    </a>
                    <div class="collapse" id="collapseCheckbox" style="margin-top: 10px;">
                        <div class="card card-body" id="cardCollapse">
                            If you select this option, you consent to having your email stored locally on your browser so that all you need to enter when logging in is your password.
                            <br/><br/>
                            By deselecting this option, your email will be removed from local storage.
                        </div>
                    </div>
                </div>
            {% endfor %}
        
            <script>
                function storeEmailUser() {
                    const email = {{ email_user | tojson }};
                    const checkbox = document.getElementById("checkBoxEmail");
                    if (checkbox.checked === true) {
                        localStorage.setItem("email-user", email)
                    } else {
                        localStorage.setItem('email-user', []);
                    }

                    console.log(localStorage.getItem("email-user"))
                }
            </script>
                
        </div>
    </main>
{% endblock %}