{% extends 'layout.html' %}

{% block title %}
    {% for username in informationCurrentUser %}
        Account: {{ username["username"] }} 
    {% endfor %}
{% endblock %}

{% block body %}
    <main class='container-fluid py-5'>
        <div class="container">
            <div class="hstack gap-3">
                {% for username in informationCurrentUser %}
                    <div><h1 style="font-size: 45px;">Welcome to your account: {{ username["username"] }}</h1></div>
                {% endfor %}
                <div class="ms-auto">
                    <a href="{{ url_for('views.updateAccount') }}" type="button" class="btn btn-warning btn-lg">
                        <span class="material-icons" style="line-height: unset;">
                            edit
                        </span>
                    </a>
                </div>
            </div>
            <hr>
            <p style="color: blue;" class="mb-3 fw-semibold lh-1">Information Account</p>
            {% for data in informationCurrentUser %}
                <table class="table table-hover table-bordered border" id="table-user">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                            <tr>
                                <td>{{ data["username"] }}</td>
                                <td><input type="password" class="form-control" value="{{ decryptedPassword }}" id="account-password" disabled></td>
                                <td><button type="button" class="btn btn-secondary btn-lg" onclick="seePasswordAccount();">
                                        <span class="material-icons" style="line-height: unset;" id="span_text">
                                            visibility
                                        </span>
                                    </button>
                                </td>
                            </tr>
                    </tbody>
                </table>
                <hr>      
                <p style="color: blue;" class="mb-3 fw-semibold lh-1">Action</p>
                <div class="card" style="margin-top: 40px; margin-bottom: 40px;">
                    <div class="card-body">
                        <h5 class="card-title">Delete Account</h5>
                        <p class="card-text">By deleting the account you will lose any saved password and it will not be possible to recover it.</p>
                        <button type="button" class="btn btn-danger" id="deleteUser" value="{{ data['id'] }}" onclick="deleteAccount(this.value);">Delete Account</button>
                    </div>
                </div>
                <hr>      
                <p style="color: blue;" class="mb-3 fw-semibold lh-1">Settings</p>
                
                <div class="hstack gap-3" style="margin-top: 30px;">
                    <div><label>Choose theme</label></div>

                    <div>
                        <select class="form-select" id="inlineFormSelectPref" id="selectionThemes" disabled>
                            <option selected>Light</option>
                            <option value="1">Dark</option>
                        </select>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}