{% extends 'layout.html' %}

{% block title %}
    {% for username in informationCurrentUser %}
        Profile: {{ username["username"] }} 
    {% endfor %}
{% endblock %}

{% block body %}
    <main class='container-fluid py-5'>
        <div class="container">
            <div class="hstack gap-3">
                {% for username in informationCurrentUser %}
                    <div><h1 style="font-size: 45px;">Welcome to your profile: {{ username["username"] }} <span>👋</span></h1></div>
                {% endfor %}
                <div class="ms-auto">
                    <a href="{{ url_for('views.updateProfile') }}" type="button" class="btn btn-warning btn-lg">
                        <span class="material-icons" style="line-height: unset;">
                            edit
                        </span>
                    </a>
                </div>
            </div>
            <hr>
            
            {% for data in informationCurrentUser %}
                <table class="table table-hover table-bordered border" id="table-user">
                    <thead>
                        <tr>
                            <th scope="col">Username</th>
                            <th scope="col">Password</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                            <tr>
                                <td>{{ data["username"] }}</td>
                                <td>{{ decryptedPassword }}</td>
                            </tr>
                    </tbody>
                </table>
                <hr>

                <div class="card" style="margin-top: 40px;">
                    <div class="card-body">
                        <h5 class="card-title">Delete User</h5>
                        <p class="card-text">By deleting the user you will lose any saved password and it will not be possible to recover it.</p>
                        <button type="button" class="btn btn-danger" id="deleteUser" value="{{ data['id'] }}" onclick="deleteUser(this.value);">Delete User</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}