{% extends 'layout.html' %}

{% block title %}}
    Item Searched: {{ nameSite }}
{% endblock %}

{% block body %}
    <main class='container-fluid py-5'>
        <div class="container">
            <h1 style="font-size: 45px;">You searched for: {{ nameSite }}</h1>
            <hr>
            <table class="table table-hover table-bordered border" id="table-passwords">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for item in itemSearched %}
                        <tr>
                            <th scope="row">{{ item["name"] }}</th>
                            <td>{{ item["email"] }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary" href="{{ url_for('views.secret', id=item['id']) }}">Open</a>
                                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" id="updateButton" href="{{ url_for('views.update', id=item['id']) }}">Modify</a></li>
                                        <li><button class="dropdown-item" id="deleteButton" value="{{ item['id'] }}" onclick="deleteItem(this.value);">Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}