{% extends 'layout.html' %}

{% block title %}
    Update
{% endblock %}

{% block body %}
<main class='container-fluid py-5'>
    <div class="container">
        <form method="POST" id="updateForm">
        <div class="hstack gap-3">
            <div><h1 style="font-size: 45px;">Update Item</h1></div>
            <div class="ms-auto">
                <a href="{{ url_for('views.index') }}" class="btn btn-danger btn-lg">
                    <span class="material-icons" style="line-height: unset;">
                        clear
                    </span>
                </a>
            </div>
            <div>
                <button type="submit" class="btn btn-success btn-lg">
                    <span class="material-icons" style="line-height: unset;">
                        done
                    </span>
                </button>
            </div>
        </div>
        
        <hr>

        {% for secret in secrets %}
        <div class="mb-3" id="inputs">
            <label class="form-label">Name</label>
            <div class="form-floating">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter an name" value="{{ secret['name'] }}">
                <label for="site" class="text-secondary">{{ secret['name'] }}</label>
            </div>
        </div>
        <div class="mb-3" id="inputs">
            <label class="form-label">Username</label>
            <div class="form-floating">
                <input type="text" class="form-control" id="username-update" name="username" placeholder="Enter an username" value="{{ secret['username'] }}">
                <label for="username" class="text-secondary">{{ secret['username'] }}</label>
            </div>
        </div>
        <div class="mb-3" id="inputs">
            <label class="form-label">Email</label>
            <div class="form-floating">
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter an email" value="{{ secret['email'] }}">
                <label for="email" class="text-secondary">{{ secret['email'] }}</label>
            </div>
        </div>
        <div class="mb-3" id="inputs">
            <label class="form-label">Password</label>
            <div class="form-floating">
                <input type="text" class="form-control" id="password" name="password" placeholder="Enter an password" value="{{ decryptedPassword }}">
                <label for="password" class="text-secondary">{{ decryptedPassword }}</label>
            </div>
        </div>
        <div class="mb-3" id="inputs">
            <span id="index-phrase" class="form-text">Timestamp: {{ secret["timestamp"]}}</span>
        </div>
        {% endfor %}
        </form>
    </div>
    
</main>
{% endblock %}